html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  justify-content: center;
  line-height: normal;
  margin: 0 auto;
  max-width: 1300px;
}

footer {
  background-color: #666666;
  bottom: 0;
  color: #FFFFFF;
  height: 260px;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}

h1 {
  color: #15136A;
  font-size: 4.8rem;
  font-weight: bolder;
  text-align: center;
}

h2 {
  color: #353535;
  font-size: 3.2rem;
  text-align: left;
}

h3 {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 2rem;
  margin: 0 auto;
  width: 650px;
}

h4 {
  color: #353535;
  font-size: 2.2rem;
  text-align: left;
}

p {
  color: #666666;
  font-size: 1.8rem;
  line-height: normal;
  margin: 0 auto;
  max-width: 700px;
}
footer p, .contact_info p {
  color: #FFFFFF;
}

b {
  font-weight: 600;
}

i {
  font-style: italic;
}

.navigation {
  background-color: #666666;
  height: 80px;
  padding: 20px;
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
}
.logo {
  float: left;
  height: 80px;
}
.navigation_list {
  float: right;
  height: 20px;
  list-style-type: none;
  margin-top: 30px;
  width: 600px;
}

.navigation li {
  display: inline-block;
  font-size: 1.8rem;
  padding-right: 45px;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

.hero {
  background-image: url("../images/bookandpen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 120px;
  padding: 90px 0px;
  width: 100%;
}

.hero_text {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
}
.hero_text h2 {
  text-align: center;
}

.button {
  background-color: #15136A;
  border: .1px solid #15136A;
  border-radius: 40px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 0 auto;
}

.button:hover {
  background-color: #666666;
  border: .1px solid #FFFFFF;
}

.our_story {
  padding: 100px;
}
.osc {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  grid-column-gap: 80px;
  padding: 100px 0px;
}
.osc_image img {
  height: 280px;
}

.contact_us {
  background-color: #666666;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.contact_form {
  margin: 0 auto;
  padding: 50px;
  width: 700px;
}
.contact_form h2 {
  font-size: 3.55rem;
  color: #FFFFFF;
  padding: 20px 0px;
  text-transform: uppercase;
}

.contact_info  {
  padding: 200px 0px;
  width: 300px;
}
.contact_info h4 {
  color: #FFFFFF;
}

a.anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}

input[type=text], textarea {
  width: 600px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  padding: 10px;
  border: 1px solid #666666;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: vertical;
}

input[id=phone], input[id=email] {
  width: 290px;
  margin-right: 20px;
}

button[type=submit] {
  background-color: #FFFFFF;
  font-family: "Source Sans Pro";
  font-size: 15px;
  color: #666666;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 8px 12px;
  border: .1px solid #666666;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

button[type=submit]:hover {
  background-color: #666666;
  color: #FFFFFF;
  border: .1px solid #FFFFFF;
}

.social_media {
  color: #FFFFFF;
  list-style-type: none;
  padding: 20px;
  font-size: 3.2rem;
}

.social_media i {
  color: #FFFFFF;
}

.social_media li {
  display: inline-block;
  padding: 20px;
}

#myBtn {
  background-color: #15136A;
  border: none;
  border-radius: 50%;
  bottom: 40px;
  color: #FFFFFF;
  float: right;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  padding: 10px;
  position: fixed;
  right: 40px;
  width: 40px;
  outline: none;
}
#myBtn:hover {
  background-color: #666666;
  border: .1px solid #FFFFFF;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  footer {
    height: 340px;
  }

  h1 {
    font-size: 3.8rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.6rem;
  }

  .navigation {
    height: 110px;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
    padding-bottom: 10px;
    width: 100%;
  }
  .logo {
    float: none;
    height: 50px;
    margin: 0 auto;
  }
  .navigation_list {
    float: none;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0px;
    padding-bottom: 20px;
    width: 100%;
  }
  .navigation li {
    font-size: 1.3rem;
    padding: 10px 25px;
  }

  .hero {
    margin-top: 140px;
    padding: 0px;
    width: 100%;
  }
  .hero-text {
    padding-top: 60px;
    width: 100%;
  }
  .button {
    font-size: 1.4rem;
  }

  .our_story {
    padding: 60px 25px;
  }

  .osc {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0 auto;
    padding: 60px 0px;
  }
  .osc_image {
    margin: 0 auto;
  }
  .osc_image img {
    height: 242px;
    padding-bottom: 60px;
  }

  .osc_text {
    margin: 0 auto;
    width: 90%;
  }

  .contact_us {
    grid-template-columns: auto;
  }
  .contact_form {
    margin: 0 auto;
    padding: 20px;
    width: 85%;
  }
  .contact_form h2 {
    font-size: 3.2rem;
    text-align: center;
  }
  .contact_info {
    padding: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
    width: 190px;
  }
  input[type=text], input[id=phone], input[id=email], textarea {
    width: 100%;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .disclaimer h3 {
    max-width: 300px;
  }
  .copyright h3 {
    max-width: 250px;
  }
  #myBtn {
  bottom: 20px;
  right: 20px;
  }

  a.anchor {
    top: -140px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navigation {
    height: 140px;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
    padding-bottom: 10px;
    width: 100%;
  }
  .logo {
    float: none;
    margin: 0 auto;
  }
  .navigation_list {
    float: none;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0px;
    padding-bottom: 20px;
    width: 100%;
  }
  .navigation li {
    font-size: 1.6rem;
    padding: 20px 25px;
  }

  .hero {
    margin-top: 170px;
    padding: 0px;
    width: 100%;
  }
  .hero-text {
    padding-top: 60px;
    width: 100%;
  }
  .our_story {
    padding: 60px 40px 0px 40px;
  }

  .osc {
    grid-template-columns: auto;
    justify-content: center;
    margin: 0 auto;
  }
  .osc_image img {
    height: inherit;
    width: 100%;
  }
  .osc_text {
    padding-top: 40px;
  }

  .contact_us {
    grid-template-columns: auto;
  }
  .contact_form {
    margin: 0 auto;
    padding: 20px;
    width: 85%;
  }
  .contact_form h2 {
    font-size: 3.2rem;
    text-align: center;
  }
  .contact_info {
    padding: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
    width: 220px;
  }
  input[type=text], input[id=phone], input[id=email], textarea {
    width: 100%;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/* Practice Areas */

.practice_areas {
  margin-top: 120px;
  padding: 90px 0px 50px 0px;
}

.pa_body {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.pa_image img {
  width: 400px;
}

.pa_text {
  margin: 0 auto;
}

.pa_text h4 {
  font-size: 2.6rem;
}

.pa_row {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  grid-column-gap: 80px;
  padding: 80px 25px;
}

@media screen and (max-width: 767px) {
  .practice_areas{
    padding: 90px 25px 40px 25px;
  }
  .pa_row {
    grid-template-columns: auto;
    padding: 40px 25px
  }
  .pa_image {
    margin: 0 auto;
  }
  .pa_image img {
    width: 100%;
  }
  .pa_text {
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .pa_image img {
      width: 300px;
    }
    .pa_row {
      grid-column-gap: 40px;
      padding: 40px 25px;
    }
}

/* Testimonials */

.testimonials {
  line-height: normal;
  margin-top: 120px;
  padding: 90px 0px;
  width: 100%;
}

.review, .review_color {
  margin: 0 auto;
  width: 100%;
  padding: 50px 0px;
}

.review_color {
  width: 100%;
  background-color: #F6F6F6;
}

.review p, .review_color p {
  font-style: italic;
  line-height: 3;
  margin: 0 auto;
  max-width: 900px;
}

.review h4, .review_color h4 {
  margin: 0 auto;
  max-width: 900px;
}

.review_color h4 {
  color: #15136A;
}

@media screen and (max-width: 767px) {
  .review, .review_color {
    padding: 30px 0px;
  }
  .review h4, .review_color h4 {
    font-size: 1.6rem;
    padding: 0px 15px;
  }
  .review p, .review_color p {
    font-size: 1.4rem;
    padding: 0px 15px;
  }
}

/* Privacy Policy */

.dpp {
  margin: 0 auto;
  margin-top: 120px;
  padding: 90px;
  max-width: 900px;
}

.dpp p {
  max-width: 900px;
}

.dpp h2 {
  margin: 0;
}

.dpp_disclaimer, .privacypolicies {
  margin: 0 auto;
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  .dpp {
    padding: 90px 25px;
  }
}

/* Contact Page */

.contactpage {
  line-height: normal;
  margin-top: 120px;
  padding-top: 90px;
}

.contact_picture {
  background-color: #f2efeb;
  margin: 90px 0px 40px 0px;
}

.contact_picture img {
  display: block;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.contactpage h2 {
  text-align: center;
}

.contactpage_us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 40px 0px 80px 0px;
  background-color: #FFFFFF;
  align-items: baseline;
}

.contactpage_form {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 700px;
}
.contactpage_form h2 {
  font-size: 3.55rem;
  color: #FFFFFF;
  padding: 20px 0px;
  text-transform: uppercase;
}
.contact_text {
  padding: 60px;
}

.feelfree {
  font-size: 2.2rem;
  padding: 10px 0px;
}

.address {
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  .contactpage_us {
    grid-template-columns: auto;
  }
  .contactpage_form {
    margin: 0 auto;
    padding: 20px;
    width: 90%;
  }
  .contactpage_form h2 {
    font-size: 3.2rem;
    text-align: center;
  }
  .contact_text {
    padding: 20px;
  }
  .contact_text h2 {
    font-size: 2.4rem;
  }
  .feelfree {
    font-size: 2.0rem;
  }
  .address {
    font-size: 1.4rem;
  }
}
